
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ec9797;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    height: 80px;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
}

.searchBar {
    display: flex;
    align-items: center;
}

.searchBar input {
    width: 260px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
}

.searchBar button {
    width: 100px;
    background-color: orange;
    color: white;
    border: none;
    font-size: 16px;
    margin-left: 8px;
    padding: 10px;
    border-radius: 4px;
}

#watchlistBtn {
    background-color: #ff5722;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.card {
    margin-top: 22px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.movieCard {
    background-color: #baa9a9;
    padding: 30px;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(64, 18, 179, 0.1);
}

.movieCard img {
    width: 100%;
    border-radius: 5px;
}

.movieCard h1 {
    font-size: 18px;
    margin-top: 10px;
}

.movieCard p {
    margin: 10px 0;
}

.movieCard a {
    background-color: #1dd156;
    color: rgb(226, 131, 131);
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(51, 46, 46, 0.5);
}

.modal-content {
    background-color: #ece3e3;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(54, 35, 35);
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .searchBar input {
        width: 150px;
    }
    .searchBar button {
        width: 80px;
    }
    .movieCard {
        width: 100%;
    }
}
